@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.register-event {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10%;
    width: 100%;
    padding: 0 15%;
}