.register-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #39ff14; /* Neon Green */
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
  }
  
  .register-btn:hover {
    background-color: #32e613; /* Slightly Darker Neon Green */
  }
  